*{
    padding: 0;
    margin: 0;
    /* font-family: 'poppins', sans-serif; */
 }
body{
    background: linear-gradient(110.6deg, rgb(156, 116, 129) -18.3%, rgb(67, 54, 74) 16.4%, rgb(47, 48, 67) 68.2%, rgb(27, 23, 36) 99.1%);
}
section{
    display: grid;
    height: 100vh;
    place-items: center;
    margin-top:-75px;
}
header{
    text-align:center;
    margin-top:15px;
    font-size:3rem;
    font:bolder;
}

.main{
    width: 400px;
    height: 450px;
    background-color: rgb(167, 167, 167);
    position: absolute;
    border: 5px solid black;
    border-radius: 6px; 
}
.main input[type='text'] {
    width: 88%;
    position: relative;
    height: 80px;
    top: 5px;
    text-align: right;
    padding: 3px 6px;
    outline: none;
    font-size: 40px;
    border: 5px solid black;
    display: flex;
    margin: auto;
    border-radius: 6px;
    color: black;
}
.btn input[type='button']{
    width:90px;
    padding: 2px;
    margin: 2px 0px;
    position: relative;
    left: 13px;
    top: 20px;
    height: 60px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.5s;
    background-color: #495250;
    border-radius: 6px;
    color: white;
}
.btn input[type='button']:hover{
    background-color: black;
    color: white;
}
